<form action="/tienda/edit" method="post">
    <div class="form-group">
        <label for="">Editar</label>
    </div>
    <div class="form-group"></div>
    <input type="text" class="form-control" name="id" id="" value="{{pro.id}}">
    </div>
    <br>
    <div class="form-group">
        <input type="text" class="form-control" name="nombre" id="" value="{{pro.nombre}}">
    </div>
    <br>
    <div class="form-group">
        <input type="number" class="form-control" name="precio" id="" value="{{pro.precio}}">
    </div>
    <div class="form-group">
        <input type="number" class="form-control" name="cantidad" id="" value="{{pro.cantidad}}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-block"> editar</button>
    </div>
</form>